@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body
{
    background-color:rgb(18, 18, 20) ;
}
nav
{
    background-color: rgb(32, 32, 36);
    
    height:70px ;
    width: 100%;
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav > h1
{
    display: block;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 2vh;
    padding-left: 1vh;
    font-family: 'Open Sans Condensed', sans-serif;
}
nav > h2
{
    display: inline-block;
    color: rgb(216, 216, 216);
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 15px;
    padding-left: 10px;
    
}

nav > h3
{
    font-size: 15px;
    font-family: 'Pacifico', cursive;
    color: rgb(216, 216, 216);
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 2vh;
    margin: 0;
    float: right;

}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
#text
{
    background-color: rgb(32, 32, 36);
    width: 80%;
    margin: 30px;
    max-height: 100%;
    display: block;
    padding: 30px;
    
    
}
#text > h3
{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;

    
}
#text > p
{
    color: white;
    text-align:justify;
    font-family: 'Quicksand', sans-serif;

}
#text > a > div
{
    position: relative;
    width: 17%;
    font-family:'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: bolder;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(117, 9, 117, 0.829);
    margin: 0 auto; 
    border-radius: 10px;
    text-align: center;
}
#text > a {text-decoration: none;}

#text > a > div:hover
{
    background-color: rgba(49, 4, 49, 0.829);
    

}
footer  
{
    position: relative;
    height: 80px;
    background-color:  rgb(32, 32, 36);
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}
footer p
{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;


}

@media screen and (min-width: 768px)
{
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }
    nav>h3
    {
        position: relative;
        left:550px;
        bottom: 40px;
        
    }
    .container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        margin: o auto;

    }
    #text
    {
        width: 40%;
    }
   
}